
<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<div class="col-md-6 mb-3">
    <p style="font-size: 50px">Welcome to Keystroke Biometrics!</p>
    <div class="text-center">
        <div class="col-md-3 mb-3" style="padding: 20px">
            <a id="train" class="btn btn-primary" role="button" type="submit" href="{% url 'train' %}">Train Model</a>
        </div>
        <div class="col-md-3 mb-3" style="padding: 20px">
            <a id="evaluate" class="btn btn-primary" role="button" type="submit" href="{% url 'evaluate' %}">Evaluate Model</a>
        </div>
        <div class="col-md-3 mb-3" style="padding: 20px">
            <a id="analyze" class="btn btn-primary" role="button" type="submit" href="{% url 'analyze' %}">Analyze Data</a>
        </div>
    </div>
</div>
</body>
</html>